.home{
 background-color: black;
 height: 979px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

    .inputBar{
        height: 32.7px;
        width: 525px;
        background-color: white;
        
    }

    .keyspan{
        background-color: blueviolet;
        height: 32.7px;
        width: 525px;
        
        .linethr{
            text-decoration: line-through;
            text-decoration-thickness:1px ;
            text-decoration-color: black;
           
        }
          
        .remli{
            text-decoration: none;
        }

        button{
            margin-left: 10px;
        }


    .input{
    color: blue;
    border-color: #fff;
	border-width: 3px;
    
    }

        span{
            
            margin-top: 20px;
            color: white;
            padding-left: 5px;
        }

    }
}